* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
h1{
	color: #140c1f;
}
.top{
	background-color: #c1884d;
	height: 40px;
	
}
.top p{
	padding: 10px;
	text-align: center;
	padding-left: 10px;
	align-items: center;
}
.logo{
	text-align: center;
}
.header{
	padding: 20px;
	text-align: center;
	padding-bottom: 20px;
}
.header a{
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	color: #c1884d;
	padding: 8px;
	font-size: 20px;
}

.header h2{
	color: rgb(170, 99, 99);
	font-size: 60px;
	font-family: "Raleway", sans-serif;
}
.banner{
	background-image: url('img/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	background-position: right bottom;

}
.banner-shadow{
	background: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	position: relative;
	height: 100%;
	
}
.text h2{
	font-family: "Raleway", sans-serif;
	font-weight: 300;
 	font-size: 40px;
    font-family: "Edu NSW ACT Cursive", cursive;
}
.text p{

	padding-top: 40px;
}
.banner .text{
	font-family: "Raleway", sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: aliceblue;
	font-size: 22px;
}
.imagem_pai{
	width: 40%;
	margin: auto;
	gap: 10px;
	padding-top: 40px;
	display: grid;
	
}

.imagem_text {
    display: flex;
    /* padding-top: 60px; */
    align-items: center;
	
	box-shadow: 4px 4px #e2e2e2a1;
	border: #c1884d 0.5px solid;
}

.imagem_text p {
    font-family: "Raleway", sans-serif;
    padding:  0 50px ;
    font-size: 15px;
    text-align: justify;
    flex: 1; 
}
.imagem_text h2 {
 color: rgb(170, 99, 99);
 padding:  0 50px ;
 font-family: "Edu NSW ACT Cursive", cursive;
 font-size: 25px;
}

.text_center{
	text-align: center;
	align-content: center;
}

.imagem_text img {
    height: 300px;
    flex: 1;
    width: 300px; 
    object-fit: cover;
    object-position: center;
}
.imagem_div{
	width: 50%;
	margin: auto;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 5%;
}
.galeria img{
	height: 200px;
	width: 200px;
}
.bg_msg{
	background-color: #c1884d;
	display: flex;
	justify-content: center;
	padding: 20px;
	gap: 100px;
}
.bg_msg p{
	font-family: "Raleway", sans-serif;
	color: #f7f6f6;	
	text-align:start;
	padding : 10px;
	font-size:15px;

	
}
#p2{
	font-size:25px;
}

#p3{
	font-size:15px;
	align-content: center;
}
.container_sobre{
	padding: 40px;
	margin: auto;
	font-family: "Raleway", sans-serif;

}

.sobre_conteudo h2{
	padding: 10px;
	font-size: 30px;
}

.sobre_conteudo{
	border: #ffffff 0.5px solid;
	width: 45%;
	margin: auto;
	align-content: center;
	text-align: justify; 
}

#h2_sobre {
	color: #c1884d;
	padding-left: 0.1%;
}
.contato{
	padding: 20px;
	margin: auto;
	
}
.contato-conteudo{
	border: #c1884d 0.5px solid;
	box-shadow: 6px 6px #e2e2e2a1;
	width: 45%;
	margin: auto;
	display: flex;
	align-content: center;
	border-radius: 20px;
	img{border-radius: 0 20px 20px 0px}
}
.contato input{
	display: block;
}
.contato-formulario {
	width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
	line-height: 1.6;
	border-radius: 30px;
}
.contato-formulario h3, label{
	font-family: "Raleway", sans-serif;
}

.contato-formulario input{
	height: 22px;
	border-radius: 5px;
	padding: 12px;
	border: 1px solid rgb(151, 151, 151);
}

.contato-formulario button{
	margin-top: 10px;
	padding: 0px;
	height: 40px;
	width: 100px;
	outline: none;
	color: floralwhite;
	border: none;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	background-color: #c1884d;
	
}

.site-footer {
  background-color: #c1884d;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  margin-bottom: 20px;
  min-width: 200px;
}

.footer-column h4 {
  color: #ffffff; 
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-column ul {
  padding: 0;
}

.footer-column a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #66605a;
  background-color: #575757;
  font-size: 0.8rem;
	color: #efeff0;
}

.footer-bottom  footer{
  padding-top: 20px;
  padding-bottom: 20px;
}

footer a{
	text-decoration: none;
	color: #cfcfcf;
}